natsort==8.4.0
numpy==1.25.2
openai==0.28.1
vllm==0.2.7
pandas==2.2.0
PyYAML==6.0.1
regex==2023.8.8
SeqLbToolkit==0.4.6
spacy==3.7.2
torch==2.1.2
tqdm==4.66.1
transformers==4.37.1
pytextspan==0.5.7
spacy-alignments==0.9.1
